@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  h1 {
    @apply text-[80px];
  }
  h2 {
    @apply text-xl;
  }
  .button-1{
    @apply bg-black border hover:border-hacky-green hover:text-hacky-green text-white font-bold py-2 px-4 rounded
  }
  .help-button{
    @apply flex w-fit h-fit bg-black border hover:border-hacky-green hover:text-hacky-green text-white font-bold py-2 px-4 rounded 
  }
}

@layer components {
  .app{
    @apply text-center
  }
  .app-background{
    @apply bg-black
  }
  .app-header{
    @apply bg-black h-screen w-screen flex flex-col justify-center text-hacky-green font-mono
  }
  .app-runGame{
    @apply justify-center self-center h-full w-full md:h-fit md:w-fit
   }
  .box-output{
    @apply transition ease-in-out duration-700 flex justify-center bg-black rounded-lg text-center font-semibold m-1 w-12 h-2 md:w-24 md:h-4 md:m-2
   }
  .box-input{
    @apply border-terminal-orange outline-hacky-green border-[3px] rounded-xl bg-ubuntu-purple shadow-md text-center font-semibold w-12 h-12 text-xl md:text-3xl md:w-24 md:h-24
  }
  .app-spinner{
    @apply h-40
  }
}
